
img[height="60"][width="468"] 
  { display: none !important; }

* { color: white !important;
    background: black !important;
}
a:link { color: cyan !important; }
a:visited { color: violet !important; }
a:active { color: rgb(#CCCCFF) !important; }
